.home-hero {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/homes.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
  overflow-x: hidden;
  padding: 0 0px; /* optional padding for small screens */
}

.hero-text {
  position: relative;
  z-index: 1;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;  
  color: black;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 20px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.shop-btn {
  padding: 12px 25px;
  font-size: 18px;
  background-color: rgb(248, 103, 46);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.shop-btn:hover {
  background-color: #ffd4d8;
}

/* ========================
   Responsive Media Queries
========================= */
@media (max-width: 1024px) {
  .hero-text h1 {
    font-size: 40px;
  }

  .hero-text p {
    font-size: 18px;
  }

  .home-hero {
     background-size: cover;
    background-position: center top;
    height: auto; /* allow content to fit on small screens */
    padding: 200px 0px;
  }
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 32px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .shop-btn {
    padding: 10px 20px;
    font-size: 16px;
  }

  .home-hero {
     background-size: cover;
    background-position: center top;
    height: auto; /* allow content to fit on small screens */
    padding: 160px 0px;
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 26px;
  }

  .hero-text p {
    font-size: 14px;
  }

  .shop-btn {
    padding: 8px 16px;
    font-size: 14px;
  }

  .home-hero {
    background-size: cover;
    background-position: center top;
    height: auto; /* allow content to fit on small screens */
    padding: 100px 0px;
  }
}

@media (max-width: 350px) {
  .hero-text h1 {
    font-size: 22px;
  }

  .hero-text p {
    font-size: 13px;
  }

  .shop-btn {
    padding: 6px 12px;
    font-size: 12px;
  }

  .home-hero {
     background-size: cover;
    background-position: center top;
    height: auto; /* allow content to fit on small screens */
    padding: 90px 0px;
  }
}
