.products-container {
  padding: 80px 20px 120px;  /* More space on top */
  text-align: center;
  background: #faecda;
  overflow-x: hidden;
}

.products-container h1 {
  font-size: 40px;
  color: #ee5527;
  margin-bottom: 60px;   /* spacing below title */
  font-weight: bold;
  letter-spacing: 1px;
}



.product-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.product-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  width: 200px;
  text-align: center;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h3 {
  color: #ee5527;
}

.product-card button {
  margin-top: 15px;
  padding: 10px 15px;
  background: #ee5527;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.product-card button:hover {
  background: #ac2c05;
}
