.whatsapp-button {
  position: fixed;
  bottom: 16px;       /* distance from bottom */
  left: 100px;        /* leave space for cart button */
  z-index: 1001;      /* higher than page content */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;

  cursor: pointer;
}

.whatsapp-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
/* Show on mobile only */
@media (max-width: 768px) {
   .whatsapp-button {
    width: 40px;
    height: 40px;
    left: 70px;
  }

 .whatsapp-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }}



